/* Session location - sucursal */
.footer_content{
    display: flex;
    flex-direction: column;
}

.footer_content h3{
    font-size:1.1rem;
    display: flex;
    gap: 10px;
    align-items: center;
    color: white;
    margin-bottom: 5px;
}

.footer_content span,
.footer_content span a{
    font-size: .85rem;
    color: white;
    font-weight: 700;
    padding-bottom: 2px;
}

/* Certification image */
.certification .rnc{
    color: white;
    font-size: .85rem;
    font-weight: 700;
    padding-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

