.solicitar.MuiButtonBase-root{
    background-color: rgba(137, 236, 57, .8);
    color: white;
    padding: 10px 15px;
    border: 3px solid rgb(137, 236, 57);
    font-weight: 600;
    font-size: 20px;
}
.component.solicitar.MuiButtonBase-root{
    background-color: rgba(137, 236, 57, .8);
    color: white;
    border: 3px solid rgb(137, 236, 57);
    font-weight: 600;
    font-size: 16px;

}


.solicitar.MuiButtonBase-root:hover{
    background-color: #89EC39;
}

.MuiBox-root{
    border-radius: 10px;
    padding: 30px 30px;
}

.MuiBox-root .icon_contact{
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);

    width: 75px;
    height: 75px;
    background-color: #89EC39;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    font-size: 25px;
    color: #377fb8;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.MuiBox-root .title{
    font-weight: 500;
    text-align: center;

}

.MuiBox-root .solicitar_modal {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-self: center;
    gap: 15px;

    margin: 10px 0;
}


.MuiBox-root .solicitar_modal .preference{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

.MuiBox-root .solicitar_modal .preference a:nth-child(2){
    background-color: #377fb8;
}
.MuiBox-root .solicitar_modal .preference a:nth-child(1){
    background-color: #377fb8;
}

.MuiBox-root .solicitar_modal .preference a{
    border-radius: 8px;
}

.MuiBox-root .solicitar_modal a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    padding: 10px 15px;
    color: white;
    background-color: #89EC39;
    border-radius: 8px;
    font-weight: bold;
}